<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ware">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ware.MApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:mDesc=".systip.CameraCropActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_path" />
        </provider>

        <!-- <activity android:mDesc=".touch.PointerActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name="com.ware.trace.TraceActivity" />
        <!-- <activity android:mDesc=".media.CameraActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".dialog.DialogActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity android:mDesc=".img.BitmapActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".wrapper.guideview.GuideActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".systip.AcActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name="com.ware.systip.SecActivity" />
        <activity android:name="com.ware.systip.ThirdActivity" />
        <!-- <activity android:mDesc=".systip.ResourceActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->


        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc="com.edreamoon.stu.TestActivity"></activity> -->
        <!-- <activity android:mDesc=".systip.CameraCropActivity"></activity> -->
        <activity android:name="com.ware.MainActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:mDesc=".MainActivity2" -->
        <!-- android:label="@string/file_provider"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="action.Warehouse" /> -->


        <!-- <category android:mDesc="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.ware.third.RxJavaActivity"
            android:label="@string/third_rxjava">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.img.Base64ImgActivity"
            android:label="@string/img_base64">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.dialog.PopupActivity"
            android:label="@string/dialog_popup">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.img.DrawableActivity"
            android:label="@string/img_drawable">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.LinearLayoutActivity"
            android:label="@string/linear_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.third.JsonActivity"
            android:label="@string/third_json">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.third.retrofit.RetrofitActivity"
            android:label="@string/third_retrofit">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.kt.KtActivity"
            android:label="@string/kt_base">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.view.CustomViewActivity"
            android:label="@string/custom_view">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.view.ConstrainLayoutActivity"
            android:label="@string/constrain_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name="com.ware.kt.KtSecondActivity" />
        <activity
            android:name="com.ware.img.ShadowActivity"
            android:label="@string/drawable_shadow">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.FileProviderActivity"
            android:label="@string/file_provider">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.AppWidgetActivity"
            android:label="@string/app_widget">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.recyclerview.RecyclerViewActivity"
            android:label="@string/recycler_view_staggered">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.recyclerview.RecyclerDividerActivity"
            android:label="@string/recycler_divider">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.systip.recyclerview.RecyclerTouchActivity"
            android:label="@string/recycler_view_touch">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name="com.ware.systip.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.skywang.widget.UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <!-- <service android:mDesc=".systip.ExampleAppWidgetService" > -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.appwidget.action.EXAMPLE_APP_WIDGET_SERVICE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name="com.ware.jetpack.LifecycleActivity"
            android:label="@string/jet_lifecycle">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ware.compatibility.StatusBarActivity"
            android:label="@string/status_bar">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name="com.ware.jetpack.LifecycleActivity2" />
        <activity
            android:name="com.ware.binder.BinderActivity"
            android:label="@string/binder_error">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name="com.ware.binder.RecActivity" />
    </application>

</manifest>