<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edreamoon.warehouse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".systip.CameraCropActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_path" />
        </provider>

        <!-- <activity android:name=".touch.PointerActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".trace.TraceActivity" />
        <!-- <activity android:name=".media.CameraActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".dialog.DialogActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity android:name=".img.BitmapActivity"> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".wrapper.guideview.GuideActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".systip.AcActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".systip.SecActivity" />
        <activity android:name=".systip.ThirdActivity" />
        <!-- <activity android:name=".systip.ResourceActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name="com.edreamoon.stu.TestActivity"></activity> -->
        <!-- <activity android:name=".systip.CameraCropActivity"></activity> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/file_provider">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.RxJavaActivity"
            android:label="@string/third_rxjava">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".img.Base64ImgActivity"
            android:label="@string/img_base64">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.PopupActivity"
            android:label="@string/dialog_popup">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".img.DrawableActivity"
            android:label="@string/img_drawable">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.LinearLayoutActivity"
            android:label="@string/linear_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.JsonActivity"
            android:label="@string/third_json">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.retrofit.RetrofitActivity"
            android:label="@string/third_retrofit">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.KtActivity"
            android:label="@string/kt_base">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomViewActivity"
            android:label="@string/custom_view">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".kt.KtSecondActivity"></activity>
    </application>

</manifest>