<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ware">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.ware.permission.WARE"
        android:protectionLevel="dangerous" />

    <application
        android:name=".WareApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Warehouse"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".third.glide.GlideActivity"
            android:label="@string/web_img">
            <intent-filter>
                <action android:name="action.Warehouse" />
                <category android:name="${applicationId}" />
            </intent-filter>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".tool.ToolActivity"
            android:label="@string/persist">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.source.PostRunnableActivity"
            android:label="@string/post_runnable">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.ApiActivity"
            android:label="@string/api">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.job.JobScheduleActivity"
            android:label="@string/job">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".component.inflater.InflaterActivity" -->
        <!-- android:label="@string/LayoutInflater"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="action.Warehouse" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <receiver android:name=".component.job.AlarmBroadcastReceiver" />

        <service
            android:name=".component.job.JobSchService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".jetpack.hilt.HiltActivity"
            android:label="@string/hilt">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.viewpager2.ViewPager2Activity"
            android:label="@string/viewpager2">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ui.StateLayoutActivity"
            android:label="@string/state_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.nav.NavigationActivity"
            android:label="@string/navigation">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.ThemeStyleActivity"
            android:label="@string/style_theme">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.OkHttpActivity"
            android:label="@string/third_okhttp">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.recycler.LoadMoreActivity"
            android:label="@string/load_more">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.WidgetsActivity"
            android:label="@string/widget">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".widget.ArtificeActivity"
            android:label="@string/artifice">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.WakeActivity"
            android:label="@string/wake_lock"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.NotificationActivity"
            android:label="@string/notify">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.gl.GlShapeActivity"
            android:label="@string/gl_shape">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.gl.AirHockeyActivity"
            android:label="@string/gl">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.MemoryActivity"
            android:label="@string/per_memory">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.AcActivity"
            android:label="@string/component_activity"
            android:permission="com.ware.permission.WARE">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ware.ac" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.provider.ContentProviderActivity"
            android:label="@string/content_provider"
            android:permission="com.ware.permission.WARE">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ware.ac" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.WebActivity"
            android:label="@string/webview"
            android:permission="com.ware.permission.WARE">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.CoroutineActivity"
            android:label="@string/kt_coroutine">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.job.AlarmWakeActivity"
            android:label="@string/alarm_wake">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".component.fragment.MFragmentActivity" -->
        <!-- android:label="@string/fragment"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="action.Warehouse" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".component.file.StorageActivity"
            android:label="@string/storage">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ui.AnimActivity"
            android:label="@string/anim">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.ComponentActivity"
            android:label="@string/component">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".point.JavaActivity"
            android:label="@string/point_java">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.BluetoothActivity"
            android:label="@string/bluetooth">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.ble.BleActivity"
            android:label="@string/ble">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".device.BonedListActivity" />
        <activity
            android:name=".jetpack.viewmodel.ViewModelActivity"
            android:label="@string/view_model">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <activity
            android:name=".third.EventBusActivity"
            android:label="@string/event_bus">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".kt.CoroutineActivity" -->
        <!-- android:label="@string/kt_coroutine"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="action.Warehouse" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".widget.ui.EditTextActivity"
            android:label="@string/text">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.inflater.InflaterActivity"
            android:label="@string/LayoutInflater">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".MainTestActivity" -->
        <!-- android:label="maintest" -->
        <!-- android:icon="@drawable/bit"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".systip.CameraCropActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".trace.TraceActivity" /> <!-- <activity android:mDesc=".touch.PointerActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".systip.SecActivity" />
        <activity android:name=".systip.ThirdActivity" /> <!-- <activity android:mDesc=".media.CameraActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".dialog.DialogActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".img.BitmapActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".wrapper.guideview.GuideActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:mDesc=".systip.AcActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.intent.action.MAIN" /> -->
        <!-- <category android:mDesc="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".third.RxJavaActivity"
            android:label="@string/third_rxjava">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".media.Base64ImgActivity"
            android:label="@string/img_base64">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".media.ExoPlayerActivity"
            android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>

        <activity
            android:name=".dialog.PopupActivity"
            android:label="@string/dialog_popup">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".media.BitmapActivity"
            android:label="@string/bitmap">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name=".media.ExoPlayerActivity"-->
        <!--            android:label="@string/exoplayer"-->
        <!--            android:screenOrientation="landscape">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="action.Warehouse" />-->

        <!--                <category android:name="${applicationId}" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name=".dialog.DialogActivity"
            android:label="@string/dialog_base">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.drawable.DrawableActivity"
            android:label="@string/img_drawable">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.LinearLayoutActivity"
            android:label="@string/linear_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.JsonActivity"
            android:label="@string/third_json">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".third.retrofit.RetrofitActivity"
            android:label="@string/third_retrofit">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.KtActivity"
            android:label="@string/kt_base">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".widget.ui.CustomViewActivity" -->
        <!-- android:label="@string/custom_view"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="action.Warehouse" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".widget.FlexBoxActivity"
            android:label="@string/flex_recycler">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ui.ConstrainLayoutActivity"
            android:label="@string/constrain_layout">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".kt.KtSecondActivity" />
        <activity
            android:name=".media.ShadowActivity"
            android:label="@string/drawable_shadow">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.FileProviderActivity"
            android:label="@string/file_provider">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.AppWidgetActivity"
            android:label="@string/app_widget">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.recyclerview.RecyclerViewActivity"
            android:label="@string/recycler_view_staggered">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systip.recyclerview.RecyclerTouchActivity"
            android:label="@string/recycler_view_touch">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.LifecycleActivity"
            android:label="@string/jet_lifecycle">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.binding.DataBindingActivity"
            android:label="@string/databinding">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".jetpack.paging.PagingActivity"
            android:label="@string/paging">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.ware.systip.recyclerview.RecyclerDividerActivity" -->
        <!-- android:label="@string/recycler_divider"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="action.Warehouse" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".compatibility.StatusBarActivity"
            android:label="@string/status_bar">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- 声明widget对应的AppWidgetProvider -->
        <!-- <intent-filter> -->
        <!-- <action android:mDesc="android.appwidget.action.EXAMPLE_APP_WIDGET_SERVICE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".binder.BinderActivity"
            android:label="@string/binder_error">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".binder.RecActivity" />
        <activity
            android:name=".third.proto.PbActivity"
            android:label="@string/third_pb">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.nested.CoordinatorActivity"
            android:label="@string/coordinator">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.CameraActivity"
            android:label="@string/camera">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".device.ble.DeviceListActivity" />
        <activity android:name=".device.ble.BleInfoActivity" />
        <activity
            android:name=".kt.CoroutineTheoryActivity"
            android:label="@string/kt_theory">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.FlowActivity"
            android:label="@string/kt_flow">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_path" />
        </provider>

        <receiver android:name=".systip.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.skywang.widget.UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <service
            android:name=".component.BackgroundService"
            android:exported="true">
            <intent-filter>
                <action android:name="abcdef" />
            </intent-filter>
        </service>
    </application>

</manifest>