<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ware.common">

    <application>

        <provider
            android:name=".AppInitProvider"
            android:authorities="${applicationId}.init.provider"
            android:exported="false" />
    </application>

</manifest>