<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccnio.ware">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WareApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warehouse">
        <activity
            android:name=".basis.BasisActivity"
            android:exported="false"
            android:label="@string/basis">
            <intent-filter>
                <action android:name="action.Warehouse" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.architecture.ArchitectureActivity"
            android:exported="false"
            android:label="@string/architecture">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.KotlinActivity"
            android:exported="false"
            android:label="@string/kotlin">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sys.SysApiActivity"
            android:exported="false"
            android:label="@string/sys_api">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".media.MediaActivity"
            android:exported="false"
            android:label="@string/media">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.FlowActivity"
            android:exported="false"
            android:label="@string/flow">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kt.CoroutineActivity"
            android:exported="false"
            android:label="@string/coroutine">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".http.OkHttpActivity"
            android:exported="false"
            android:label="@string/okhttp">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".http.RetrofitActivity"
            android:exported="false"
            android:label="@string/retrofit">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.room.RoomActivity"
            android:exported="false"
            android:label="@string/room">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WidgetsActivity"
            android:exported="false"
            android:label="@string/widgets">
            <intent-filter>
                <action android:name="action.Warehouse" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
    </application>

</manifest>